
<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide banner_carousel" src="../../assets/img/bann_01_h.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>LOOK ELEGANTE</h1>
            <p>Muito além de barba, cabelo e bigode.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide banner_carousel" src="../../assets/img/bann_06_h.jpg" alt="Second slide">
        <div class="container">
          <div class="carousel-caption black_box">
            <h1>CORTE INFANTIL</h1>
            <p>Todas as idades.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide banner_carousel" src="../../assets/img/bann_07_h.jpg" alt="Third slide">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>SEGURO & CONFIÁVEL</h1>
            <p>Profissionais vacinados e preparados para prevenção do virus da Covid-19.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Voltar</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Avançar</span>
    </a>
  </div>


  <!-- Mensagens de marketing e outras featurezinhas
  ================================================== -->
  <!-- Envolve o resto da página em outro container, para centralizar todo o conteúdo. -->

  <div class="container marketing">

    <!-- Três colunas de texto, abaixo do carousel -->
    <div class="row pt-5" >
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="../../assets/img/bann_1_q.jpg" alt="Generic placeholder image" width="140" height="auto">
        <h2>Delivery</h2>
        <p>Atendimento em domicilio com agendamentos.</p>
        <p><a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#necessario">Ver mais »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="../../assets/img/bann_2_q.jpg" alt="Generic placeholder image" width="140" height="auto">
        <h2>Segurança</h2>
        <p>Profissionais vacinados e preparados para prevenção do virus da Covid-19.</p>
        <p><a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#atendimento">Ver mais »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="../../assets/img/bann_3_q.jpg" alt="Generic placeholder image" width="140" height="auto">
        <h2>Profissionais</h2>
        <p>Contamos com uma equipe de profissionais qualificados e capacitados à sua disposição.</p>
        <p><a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#exclusivo">Ver mais »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- COMEÇAM AS MENCIONADAS FEATUREZINHAS xD -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">A Barbearia <span class="text-muted"> que vai até você !</span></h2>
        <p class="lead pt-2 pb-2">
          A Sideline Barber é um sistema de gestão on-line para que barbeiros e clientes se encontrem
          com a devida segurança, que permite
          o profissional ir até a casa do cliente com agendamentos de horários com diversos
          serviços previamente cadastrados organizando a agenda e otimizando os 
          processos do estabelecimento.
        </p>
        <p class="lead pt-2 pb-2">
          Oferecemos profissionais experientes e antenados às mudanças no mundo
          da moda. O atendimento possui padrão de excelência e agilidade,
          garantindo qualidade e satisfação dos nossos clientes.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" 
        alt="500x500" style="width: 500px; height: auto;" src="../../assets/img/bann_03_v.jpg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Nada de pressão fashion e do clichê,<span class="text-muted"> apenas descontração, barba e cabelo à moda antiga.</span></h2>
        <p class="lead pt-2 pb-2">Muito além de barba, cabelo e bigode, a Sideline Barber supera as expectativas no 
          que se refere aos serviços de cuidado com a aparência masculina e lazer, mesclando tradição e 
          contemporaneidade resultando em um ambiente diferenciado e exclusivo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" 
        alt="500x500" src="../../assets/img/bann_02_v.jpg" data-holder-rendered="true" style="width: 500px; height: auto;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Já foi o tempo que vaidade era característica única das mulheres. <span class="text-muted"></span></h2>
        <p class="lead pt-2 pb-2">Hoje o homem moderno está cada vez mais exigente quando o assunto é se sentir bem
           consigo mesmo e ficar de olho nas tendências de cuidado pessoal. Por isso, nós da Sideline Barber 
           convidamos você a ter uma experiência única dentro de nossa barbearia, se sentindo completamente
            à vontade com nossos serviços e atendimento. Você é a nossa prioridade.</p>
        <p class="lead pt-2 pb-2">Para isso, contamos com uma equipe de profissionais qualificados 
          e capacitados à sua disposição. Te oferecemos também um atendimento que justifica 
          escolher a Sideline Barber com profissionais preparados para trazer segurança no seu conforto.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" 
        src="../../assets/img/bann_04_v.jpg" data-holder-rendered="true" style="width: 500px; height: auto;">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /FIM DAS FEATUREZINHAS *-* -->

  </div><!-- /.container -->
</main> 

<app-modal-atendimento
[id]="'atendimento'">
</app-modal-atendimento>

<app-modal-seguranca
[id]="'seguranca'">
</app-modal-seguranca>

<app-modal-necessario
[id]="'necessario'">
</app-modal-necessario>

<app-modal-profissional
[id]="'profissional'">
</app-modal-profissional>

<app-modal-exclusivo
[id]="'exclusivo'">
</app-modal-exclusivo>