body {
    
    font-family: "Abel", sans-serif;
    background-image: url("/assets/img/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  .tituloMain {
    
    font-size: 110px;
    font-family: "Allison", cursive;
    text-align:center;
    color: white;
    text-shadow: #000 2px 3px 2px;
  }
  
  .textoSobreNos {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    text-shadow: #000 2px 3px 2px;
  }
  
  .beneficios {
    
    border-radius: 60px 60px 60px 60px;
    height: 40em;
    width: 50em;
    box-shadow: 10px 10px 80px 30px black;
    margin: 0 auto;
    text-align:center;

    
  }
  
  .beneficios ul {
    margin-top: 90px;
  }
  
  .beneficios li {
    font-size: 25px;
    text-align: center;
    padding-top: 3em;
    color: white;
    text-shadow: #000 2px 3px 2px;
    display: block;
  }
  
  .beneficios li:hover {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
  }
  
  .conhecaCortes{
    text-align: center;
    margin-top: 5em;
  }

  #conhecaTitulo{
    font-size: 110px;
    font-family: "Allison", cursive;
    color: white;
    text-shadow: #000 2px 3px 2px;
  }

  #conhecaLink{
    background-color: #392613;
    margin-top: 1.5em;
    margin-bottom: 3em;
    padding: 1em;
    color: white;
    font-size: 25px;
    border-radius: 60px 60px 60px 60px;
  } 

  #conhecaLink:hover{
    font-weight: bold;
    background-color: rgb(81, 38, 19)
    
  }
 