<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SideLine Barber</title>
  </head>
  <body>
    <main>
      
      <section class="sobreNos">
        <h2 class="tituloMain">Sobre nós</h2>
        <p class="textoSobreNos">
          Oferecemos profissionais experientes e antenados às mudanças no mundo
          da moda. O atendimento possui padrão de excelência e agilidade,
          garantindo qualidade e satisfação dos nossos clientes.<br />
          <br />
        </p>

        <div class="beneficios" id="animation">
          <ul>
            <li data-toggle="modal" data-target="#atendimento">Atendimento em domicilio</li>
            <li data-toggle="modal" data-target="#seguranca">Segurança</li>
            <li data-toggle="modal" data-target="#necessario">Levamos tudo que é necessário</li>
            <li data-toggle="modal" data-target="#profissional">Profissionais treinados</li>
            <li data-toggle="modal" data-target="#exclusivo">Atendimento exclusivo</li>
            
            
          </ul>
        </div>
      </section>
      <div class="conhecaCortes">
        <h2 id="conhecaTitulo">Preparado para uma nova experiência?</h2>
        <button id="conhecaLink"[routerLink]="['/cortes']">Conheça nossos serviços</button>
      </div>      
    </main>
  </body>
</html>  

<app-modal-atendimento
[id]="'atendimento'">
</app-modal-atendimento>

<app-modal-seguranca
[id]="'seguranca'">
</app-modal-seguranca>

<app-modal-necessario
[id]="'necessario'">
</app-modal-necessario>

<app-modal-profissional
[id]="'profissional'">
</app-modal-profissional>

<app-modal-exclusivo
[id]="'exclusivo'">
</app-modal-exclusivo>