<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SideLine Barber</title>
  </head>
  <body>
    <main>
      
      <section class="sobreNos">
        <h2 class="tituloMain">Sobre nós</h2>
        <p class="textoSobreNos">
          Oferecemos profissionais experientes e antenados às mudanças no mundo
          da moda. O atendimento possui padrão de excelência e agilidade,
          garantindo qualidade e satisfação dos nossos clientes.<br />
          <br />
        </p>

        <div class="beneficios" id="animation">
          <ul>
            <li>Atendimento em domicilio</li>
            <li>Segurança</li>
            <li>Levamos tudo que é necessário</li>
            <li>Profissionais treinados</li>
            <li>Atendimento exclusivo</li>
            
            
          </ul>
        </div>
      </section>
      <div class="conhecaCortes">
        <h2 id="conhecaTitulo">Preparado para uma nova experiência?</h2>
        <button id="conhecaLink"[routerLink]="['/cortes']">Conheça nossos serviços</button>
      </div>      
    </main>
  </body>
</html>  