<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tipo escolhido {{tipoCorte}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                      <div class="mb-3">
                        <label class="form-label">Nome Cliente</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label  class="form-label">Data Agendamento</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" >
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Endereço</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">CEP</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Obervação</label>
                        <textarea class="form-control"  rows="3"></textarea>
                      </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </div>
</div>