<body class="contact">
<div class="container contact">
	<div class="row">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2>
                Envie-nos uma mensagem e receberemos você de volta em breve!
            </h2>
            <p class="lead fw-normal p-3 pb-md-4">
                Se você tiver alguma dúvida sobre serviços de corte, preços, produtos,
                fique à vontade para navegar pelo site na home caso não caso ainda continue com duvida preencha o formulario.    
            </p>                     
        </div>
        
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Entre em Contato</h2>
				<h4>Gostaríamos muito de ouvir de você !</h4>                
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">Nome:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Insira o primeiro nome" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Sobrenome:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Insira o último nome" name="lname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Digite o email" name="email">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Comentário:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Enviar</button>
				  </div>                
                                   
				</div>
                
			</div>
		</div>
	</div>
</div>
</body>

