<body class="contact">
<div class="container contact">
	<img class="img-fluid" src="../assets/img/Logo_preto.png">
	<div class="row">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2>
                Caso tenha alguma dúvida, ou precise de algum tipo de suporte. Nós temos uma equipe para melhor atende-lo
            </h2>
            <p class="lead fw-normal p-3 pb-md-2">
                Preencha os campos abaixo que entraremos em contato o mais rápido possível
            </p>                     
        </div>
        
		<div class="col-md-3">
		
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">Nome:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Insira o primeiro nome" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Sobrenome:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Insira o último nome" name="lname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Digite o email" name="email">
				  </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="celular">Celular:</label>
					<div class="col-sm-10">
					  <input type="tel" class="form-control" id="celular" placeholder="Digite o seu Celular" name="celular">
					</div>
				</div>

				<div class="form-check-inline ml-3" >
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
					<label class="form-check-label" for="flexRadioDefault1">
					  Ligar
					</label>
				  </div>
				  <div class="form-check-inline mb-2">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
					<label class="form-check-label" for="flexRadioDefault2">
					  WhatsApp
					</label>
				</div>
				
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Comentário:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Enviar</button>
				  </div>                
                                   
				</div>
                
			</div>
		</div>
	</div>
</div>
</body>

