
<section class="cortes">
    <h2 id="tituloCortes">Cortes</h2>
    <p class="textoCortes">Selecione um serviço e agende seu horário</p>
    <ul class="produtos">
      <li data-toggle="modal" data-target="#compra" (click)="tipoCorteCabelo()">
        <h2>Cabelo</h2>
        <img src="/assets/img/cabelo.jpg" />
        <p class="descricaoProduto">
          Dispomos de profissionais capacitados para atender seu estilo.
          Seja um corte na máquinha, ou tesoura
        </p>
        <p class="precoProduto" id="cabelo">R$35,00</p>
      </li>
      <li data-toggle="modal" data-target="#compra" (click)="tipoCorteBarba()">
        <h2>Barba</h2>
        <img src="/assets/img/barba.jpg" />
        <p class="descricaoProduto">
          Corte e desenho profissional de barba
        </p>
        <p class="precoProduto">R$25,00</p>
      </li>
      <li data-toggle="modal" data-target="#compra" (click)="tipoCorteCabeloBarba()">
        <h2>Cabelo + Barba</h2>
        <img src="/assets/img/cabelo+barba.jpg" />
        <p class="descricaoProduto">
          Pacote completo: Cabelo + barba num preço promocional.
        </p>
        <p class="precoProduto">R$50,00</p>
      </li>
    </ul>
  </section>

<app-modal-compra
[id]="'compra'"
[tipoCorte]="tipoCorte">
</app-modal-compra>