<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header pl-5 pr-5 pt-5 pb-2 border-bottom-0">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <h2 class="fw-bold mb-0">Cadastro de usuário</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body pl-5 pr-5 pb-5 pt-2">
        <form class="">

          <div class="form-floating mb-3">
            <label for="inputNome">Nome completo</label>
            <input type="text" class="form-control rounded-4" id="inputNome" placeholder="Digite seu nome">
          </div>
          <div class="form-floating mb-3">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control rounded-4" id="inputEmail" placeholder="exemplo@gmail.com">
          </div>
          <div class="form-floating mb-3">
            <label for="inputPassword">Senha</label>
            <input type="password" class="form-control rounded-4" id="inputPassword" placeholder="Digite a sua senha">
          </div>
          <div class="form-floating mb-3">
            <label for="inputTel">Celular</label>
            <input type="tel" class="form-control rounded-4" id="inputTel" placeholder="(11) 90000-0000" pattern="[1-9]{2}) 9[7-9]{1}[0-9]{3}-[0-9]{4}">
          </div>
          <small class="text-muted">Somente na cidade de São Paulo.</small>
          <div class="form-row">
            <div class="form-group col-md-4">             
              <label for="inputEstado">Estado</label>
              <select id="inputEstado" class="form-control">
                <option selected>São Paulo</option>
              </select>              
            </div>
            <div class="form-floating col-mb-3 mb-3">
              <label for="inputCEP">CEP</label>
              <input type="text" class="form-control" id="inputCEP" placeholder="00000-000">
            </div>
            
          </div>
          
          <div class="form-floating mb-3">
            <label for="inputAddress">Endereço</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Rua dos dev, nº 01">
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputNumero">Nº</label>
              <input type="text" class="form-control" id="inputNumero" placeholder="00">
            </div>
            <div class="form-floating col-mb-3">
              <label for="inputComplemento">Complemento</label>
              <input type="text" class="form-control" id="inputComplemento" placeholder="casa">
            </div>
          </div>
          <button class="w-100 mb-2 mt-3 btn btn-lg rounded-4 btn-primary" type="submit">Cadastrar</button>
        </form>

      </div>
    </div>
  </div>