
<div class="wrapper fadeInDown">
  
  <img src="assets/img/bigode-com-barba.png">
    <div id="formContent">
      <form>
        <input style=" margin-top:30px !important"type="text" id="login" class="fadeIn second" name="login" placeholder="usuário">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="senha">
        <input type="submit" class="fadeIn fourth" value="Acessar">
        <a class="underlineHover" href="#">Equeceu a senha?</a><br>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        
        <a class="underlineHover" href="#">Cadastre-se</a>
      </div>
      
    </div>
  </div>