<body class="contact">
    <div class="container contact">
        <img class="img-fluid" src="../assets/img/Logo_preto.png">
        <div class="row d-flex justify-content-center">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h2>
                    Interesse em Trabalhar como Barbeiro da Sideline Barber ?

                </h2>
                <p class="lead fw-normal p-3 pb-md-2">
                    Preencha os campos abaixo que entraremos em contato o mais rápido possível.
                </p>
            </div>

            <!-- <div class="col-md-3" style="background-color: black;">
              
            </div> -->
            <div class="col-md-9 row d-flex justify-content-center">
                <div class="contact-form">
                    <div class="form-group">
                        <label class="control-label" for="barName">Nome Completo:</label>
                        <input type="text" class="form-control" id="barName" placeholder="Insira o nome completo"
                            name="barName">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="barEmail">Email:</label>
                        <input type="email" class="form-control" id="barEmail" placeholder="Digite o email"
                            name="barEmail">
                    </div>
                    <div class="form-row">
                        <div class="form-group pr-4">
                            <label class="control-label" for="barSenha">Senha:</label>
                            <input type="password" class="form-control" id="barSenha" placeholder="Crie uma Senha"
                                name="barSenha">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="barCelular">Celular:</label>

                            <input type="tel" class="form-control" id="barCelular" placeholder="Digite o seu Celular"
                                name="barCelular">
                        </div>
                    </div>
                    <small class="text-muted">Somente na cidade de São Paulo.</small>
                    <div class="form-row pr-1">
                        <div class="form-group pr-4">
                            <label for="barCEP">CEP:</label>
                            <input type="text" class="form-control" id="barCEP" placeholder="00000-000">
                        </div>
                        <div class="form-group">
                            <label for="barEstado">Estado:</label>
                            <select id="barEstado" class="form-control">
                                <option selected>São Paulo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="barAddress">Endereço:</label>
                        <input type="text" class="form-control" id="barAddress" placeholder="Rua dos dev, nº 01">
                    </div>
                    <div class="form-row">
                        <div class="form-group pr-4">
                            <label for="barNumero">Numero:</label>
                            <input type="text" class="form-control" id="barNumero" placeholder="00">
                        </div>
                        <div class="form-group">
                            <label for="barComplemento">Complemento:</label>
                            <input type="text" class="form-control" id="barComplemento" placeholder="casa">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group pr-4">
                            <label for="barCpf">CPF:</label>
                            <input type="text" class="form-control" id="barCpf" placeholder="000.000.000-00">
                        </div>  
                        <div class="form-group pr-4">
                            <label for="barRg">RG:</label>
                            <input type="text" class="form-control" id="barRg" placeholder="00.000.000-0">
                        </div> 
                    </div>              
                    <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                          <label class="form-check-label" for="invalidCheck2">
                            Permito que a Sideline Barber realize uma validação rigorosa dos meus dados.
                          </label>
                        </div>
                      </div>
                    <div class="form-group">
                        <label class="control-label" for="comment">Sobre você:</label>
                        <div class="">
                            <textarea class="form-control" rows="5" id="comment"
                                placeholder="Exemplo:    Sua motivação para trabalhar com a Sideline Barber. O que você pode oferecer para a empresa. Sua Motivação. Mostre que você é a pessoa adequada para esse trabalho."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>