<!DOCTYPE html>
<html lang="pt">

<body>
  <!-- Navbar Ini -->
  <header *ngIf="validarUrl()">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Sideline Barber</a> -->
        <div class="pr-5">
          <img src="../assets/img/Logo_branco_s.png" [routerLink]="['/home']" href="#" class="logo_nav"
            alt="Logo_branco">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav cl-effect-5 navbar-brand">
            <li><a [routerLink]="['/home']" class="nav-item nav-link"><span data-hover="Home">Home</span></a></li>
            <li><a [routerLink]="['/cortes']" class="nav-item nav-link"><span data-hover="Cortes">Cortes</span></a></li>
            <li><a [routerLink]="['/contato']" class="nav-item nav-link"><span data-hover="Contato">Contato</span></a></li>
            <li><a class="nav-item nav-link" href="" data-toggle="modal" data-target="#login"><span data-hover="Login">Login</span></a></li>
            <!-- data-toggle="modal" data-target="#compra" -->
            <!-- <li><a [routerLink]="['/login']" class="nav-item nav-link"><span data-hover="Login">Login</span></a></li> -->
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- Navbar Fim -->
  <div style="padding: 30px;"></div>

  <router-outlet></router-outlet>

  <!-- Rodape Ini -->

  <footer *ngIf="validarUrl()" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="d-flex align-items-center">
      <span class="text-muted pl-3" style="vertical-align: inherit; vertical-align: inherit;">© 2021 USJT, Sideline
        Barber</span>
    </div>
    
    <a [routerLink]="['/cadastro-barbeiro']">Trabalhe conosco</a>

  </footer>
  <!-- Rodape Fim -->
</body>

</html>

<app-modal-login
[id]="'login'">
</app-modal-login>