<!DOCTYPE html>
<link
href="https://fonts.googleapis.com/css2?family=Allison&display=swap"
rel="stylesheet"
/>
<link
href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
rel="stylesheet"
/>
<html lang="pt">
  <body>
    <header class="menu" *ngIf="validarUrl()">
      <h1 id="navTitle">Barbearia</h1>
      <nav>
        <ul>
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/cortes']">Cortes</a></li>
          <li><a [routerLink]="['/contato']">Contato</a></li>
        </ul>
      </nav>
    </header>
    <br>
    <br>
    <router-outlet></router-outlet>
  </body>
</html>